/* ── VARIABLES GLOBALES ── */
:root {
  --color-principal: #1A56DB;
  --color-oscuro:    #0F1F3D;
  --color-texto:     #1E293B;
  --color-gris:      #64748B;
  --color-fondo:     #F8FAFF;
  --color-blanco:    #FFFFFF;
  --fuente:          'Segoe UI', Tahoma, sans-serif;
}
 
